body{
    background-color: #F2E9D8;

}

#openingSection{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;  
    align-items: center;   
   
}
h1{
    font-family: PT Serif;
    color: #4968A6;
    margin: auto;
    text-align: center;
    font-size: 4rem;
}


#section1, #section2, #section3{
    height: 100vh;
    width: 100vw-100px;
    background-color: #F2E9D8;;

    font-family: PT Serif;
    color: #4968A6;
    margin: auto;
    font-size: 2rem;
    margin-left: 100px;

}

#section1 button, #section2 button, #section3 button{
    font-size: 1.5rem;
}

button{
    background-color:#F2E9D8;
    color:#4968A6;
    border-radius: 30px;
    border-color: #4968A6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button:hover{
    background-color:#4968A6;
    color:#F2E9D8;
    border-radius: 30px;
    border-color: #4968A6;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#section3 ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
#section3 ul li{
    padding-right: 10px;
}





