body{
    background: #393734;
    color: #F2E9D8;
    font: PT sans;
    overflow-x: hidden;
    overscroll-behavior: none;
    height: 100vh;
    position: relative;
}

#openingSection{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;    
    margin: 0;
    font-size: 30px;
    line-height: 80px;
}

.horizontal-container{
    overscroll-behavior: none;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.underline {
    max-width: 10000px;
    height: 8px;
  } 

  .underline.long {
    position: fixed;
    left: 52%;
    top: 57%;
    height: 6px;
    width: 500vw; /* match the scroll container width */
    background:#F2E9D8;
  }

/* #position{
    position: absolute;

} */


section{
    height: 100vh;
    width: 100vw;
    flex-shrink: 0;
}




.split {
    opacity: 0;
    will-change: transform;
  }
  
  .split * {
    will-change: transform;
  }